# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\传统舞蹈数据集\pygcn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
